/* manera de comentar en css
CSS: cascade Style Sheet */

body {
    background-color: lightpink;
}
h1 {
    color:lightgoldenrodyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

a {
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}